{% load static %}
<html>
    <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <link href='https://fonts.googleapis.com/css?family=Architects+Daughter' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" type="text/css" href="{%static 'stylesheets/stylesheets.css'%}" media="screen">
    <link rel="stylesheet" type="text/css" href="{%static 'stylesheets/github-light.css'%}" media="screen">
	<link rel="stylesheet" type="text/css" href="{%static 'stylesheets/.css'%}" />
    <!-- <link rel="stylesheet" href="{% static 'django_tables2/themes/paleblue/css/screen.css' %}" /> -->
    <link href="http://code.jquery.com/ui/1.10.4/themes/ui-lightness/jquery-ui.css" rel="stylesheet">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://cdn.datatables.net/1.10.9/js/jquery.dataTables.min.js"></script>

    <title>{% block title %}Travaux Qualité{% endblock %}</title>
    <header('Access-Control-Allow-Origin: *')>

</head>
<script>
function insertParam(key)
{
    <!-- ccname = document.getElementById("ListCCName").value; -->
    <!-- currentUrl = window.location.href; -->
    <!-- newUrl = currentUrl + "?"+key+"="+ccname; -->
    <!-- window.location.href  = newUrl; -->
    
    var input, filter, table, tr, td, i;
    filter = document.getElementById("ListCCName").value;
    table = document.getElementsByClassName("palegreen");
    tr = $('tr');
    for (i = 0; i < tr.length; i++) {
    td = tr[i].getElementsByTagName("th")[0];
    if (td) {
      if (td.innerHTML.toUpperCase().indexOf(filter) > -1) {
        tr[i].style.display = "";
      } else {
        tr[i].style.display = "none";
      }
    }       
    }
}
</script>
<body>
    <header>
      <div class="inner">
        <h1>[Géo]Data</h1>
        <h2 style="text-align:right;">-- Qualité & Statistiques --</h2>
        <a class="WIP" style="width:250px;height: 140px;"><div style="margin-left:25px;">Work In Progress </div><div style="margin-left:25px;"> <small> ajout : <p>initialisation</p></small> </div></a>
      </div>
    </header>
    <ul id="nav">
        <li><a href="Accueil">Accueil</a></li>
        <li><a href="">Île de France</a>
            <ul>
                <li><a href="NombreEntites">Nombre d'entités</a></li>
                <li><a href="UrbanProjectCapacity">Urban Project Capacity</a></li>
                <li><a href="Cat_IndustrySector">Industry Sector</a></li>
                <li><a href="Invalid_geom">Géométries invalides</a></li>
                <li><a href="Invalid_proj">Projections invalides</a></li>
                <li><a href="contraintesIntegrite">Contraintes d'intégrité</a></li>
                <li><a href="cartoCC">Cartographie du City Context</a></li>
            </ul>
        </li>
        <li><a href="">Lyon</a></li>
        <li><a href="">Rouen</a></li>
        <li><a href="">Nice</a></li>
    </ul>
    <FORM NAME="Choix">
    <SELECT id="ListCCName" onChange="insertParam('extension')">
       <OPTION VALUE="un">Choisir une option
       <OPTION VALUE="extension">extension
       <OPTION VALUE="base">base
       <OPTION VALUE="quatre">Recherche
    </SELECT>
    </FORM>
    {% block content %}{% endblock %}
</body>
</html>