{% extends "base.html" %}
{% block title %}Stat Ile de France{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
{% if envoi %}Votre message a bien été envoyé !{% endif %}
<script>
	<!-- document.getElementById("NewCCAdd").style.visibility = "hidden"; -->
    function addCC(){
        if (document.getElementById("NewCCAdd").style.visibility == "hidden"){
            document.getElementById("CreateNewCC").innerHTML = "cacher l'ajout";
            document.getElementById("NewCCAdd").style.visibility = "visible";
        }
        else{
            document.getElementById("CreateNewCC").innerHTML = "ajouter un nouveau city context";
            document.getElementById("NewCCAdd").style.visibility = "hidden";
        }
    }
</script>
<button id="CreateNewCC" class="button" onclick="addCC()">ajouter un nouveau city context</button>
<h2 style="margin-top:40px;text-align:center">Accueil</h2>
<form id="NewCCAdd" style="visibility:hidden" action="{% url "accueil" %}" method="post">
    {% csrf_token %}
    {{ form.as_ul }}
    <input type="submit" value="Submit" />
</form>

<div>
	<table>
			<tr><th>Données à mettre à jour</th><th>Résultat</th></tr>
			<tr><td><button id="BtnUpdData1" class="button">Mise à jour des données "Compte d'entitées"</button></td><td><div id="myOutput1">{{ res1 }}</div></td></tr>
			<tr><td><button id="BtnUpdData2" type="button">Mise à jour des données "Urban_city"</button></td><td><div id="myOutput2">{{ res2 }}</div></td></tr>
			<tr><td><button id="BtnUpdData3" type="button">Mise à jour des données "Industry_sector"</button></td><td><div id="myOutput3">{{ res3 }}</div></td></tr>
			<tr><td><button id="BtnUpdData4" type="button">Mise à jour des données "geometry"</button></td><td><div id="myOutput4">{{ res4 }}</div></td></tr>
			<tr><td><button id="BtnUpdData5" type="button">Mise à jour des données "projection"</button></td><td><div id="myOutput5">{{ res5 }}</div></td></tr>
			<tr><td><button id="BtnUpdData6" type="button">Mise à jour des données "field_mesh"</button></td><td><div id="myOutput6">{{ res6 }}</div></td></tr>
			<tr><td><button id="BtnUpdData7" type="button">Mise à jour des données "household"</button></td><td><div id="myOutput7">{{ res7 }}</div></td></tr>
			<tr><td><button id="BtnUpdData8" type="button">Mise à jour des données "statistiques"</button></td><td><div id="myOutput8">{{ res8 }}</div></td></tr>			
	</table>
</div>
<br/>
<br/>
<div>
	<table>
			<tr><th>Données à mettre à jour</th><th>Résultat</th></tr>
			<tr><td><button id="BtnUpdData" type="button">Mise à jour de toutes les données</button></td><td><div id="myOutput9">{{ res }}</div></td></tr>
	</table>
<div>
<script>
    $("#BtnUpdData1").click(function() {
        window.location.href='UpdData1';
    });
    $("#BtnUpdData2").click(function() {
        window.location.href='UpdData2';
    });
	$("#BtnUpdData3").click(function() {
        window.location.href='UpdData3';	
    });
	$("#BtnUpdData4").click(function() {
        window.location.href='UpdData4';
    });
    $("#BtnUpdData5").click(function() {
        window.location.href='UpdData5';
    });
	$("#BtnUpdData6").click(function() {
        window.location.href='UpdData6';
    });
	$("#BtnUpdData7").click(function() {
        window.location.href='UpdData7';
    });
	$("#BtnUpdData8").click(function() {
        window.location.href='UpdData8';
    });
	$("#BtnUpdData").click(function() {
        window.location.href='UpdData';
    });


</script>
{% endblock %}