{% extends "base.html" %}
{% block title %}Stat Ile de France{% endblock %}
{% load render_table from django_tables2 %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
<!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
<script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
<script src="https://openlayers.org/en/v4.2.0/build/ol.js"></script>
<script type="text/javascript" src="{%static 'javascripts/layerswitchercontrol.js'%}"></script>
<script type="text/javascript" src="{%static 'javascripts/cartographie.js'%}"></script>
<link rel="stylesheet" type="text/css" href="{%static 'stylesheets/layerswitchercontrol.css'%}" media="screen">
<script>
    var MapStaticURL = "{% static 'projets/RCITY/usages_par_maille.qgs' %}"
</script>
<h2 style="margin-top:40px;text-align:center">Cartographie du City Context</h2>

<body onload="init(MapStaticURL)">
    <div id="content-wrapper">
        <div class="inner clearfix">
        <section id="main-content">
            <div id="map" class="map" style="margin-top:0px;margin-left:0px;width:70%;height:70%"></div>
        </section>

        <aside id="sidebar" style="width=15%">
            <div class="layerSwitcher" style="margin-left:35px;width:110%;"><h3>Gestion des couches</h3></div>
            <div id="infoTitre" style="margin-left:35px;width:110%;"><h3>Légende</h3></div>
            <div id="info" style="margin-left:35px;width:110%;"></div>
        </aside>
        </div>
    </div>
<!-- <div id="map" class="map" style="width: 1200px; height: 800px"></div> -->
</div>

{% endblock %}